.background-primary-color {
  background: #F9E79F;
}

.background-secundary-color {
  background: #ECF0F1;
}

.color-btn-validator:hover {
  background: #73C6B6;
}

.navbar {
  background: #6F89A7!important;
}

#main .col h2 {
  font-family: 'Domine', serif;
}

@media (min-width: 992px) { 
 .img-card {
    width: 200px;
 }

 .btn {
   width: 10rem;
 }
}

/* #section-about {
  height: 70vh;
} */

/* #main .col h3 { 
  font-family: 'Monda', sans-serif;
} */

.div-icon {
  background: #FCF3CF;
  border-radius: 30px;
}



/* @media (max-width: 575.98px) { 
  .row {
    margin: 0!important;
  }
  div .col-md {
    padding: 0!important;
  }

} */

.col .list-instructions {
  padding-left: 0;
  padding-top: 2em;
}

.cont-form-validator {
  border: 1px;
  background: snow;
  border-radius: 1rem;
}

.border-input-date {
  border: 1px solid #ced4da;
  height: 35px;
  width: 8rem;
  padding-top: 6px;
  border-radius: 5px;
  height: 38px;
  
}

.expiration input {
  width: 3rem;
  border: 0;
  padding-left: 10px;
}