.root {
  height: 100vh;
}

.root section {
  height: 100vh;
}

.height-container-calc {
  height: calc(100vh - 58px);
}
 
.error {
  color: red;
}

.background-primary-color {
  background: #F9E79F;
}

.background-secundary-color {
  background: #ECF0F1;
}

.color-btn-validator:hover {
  background: #73C6B6;
}

.navbar {
  background: #6F89A7!important;
}

#main .col h2 {
  font-family: 'Domine', serif;
}


@media (min-width: 992px) { 
 .img-card {
    width: 200px;
 }

 .btn {
   width: 10rem;
 }

 .row-instructions {
   padding-bottom: 1rem;
 }

 .row-instructions div h4 {
  padding-left: 2em;
  font-size: 25px;
 }

 .row-instructions div .todo-icon {
   width: 125px;
 }

 .row-instructions div .list-instructions {
   font-size: 20px;
 }

 .cont-form-validator form-row #input-card-number {
    width: 18rem;
 }

  section .cont-validator {
    height: calc(100vh - 57px);
  }

  section .cont-home {
    height: calc(100vh - 30px);
  }
}

.div-icon {
  background: #FCF3CF;
  border-radius: 30px;
}

.col .list-instructions {
  padding-left: 0;
  padding-top: 2em;
}

.cont-form-validator {
  border: 1px;
  background: whitesmoke;
  border-radius: 1rem;
}


@media (min-width: 768px) { 
  .list-instructions {
    padding: 0;
  }
 }